$primary: rgb(25, 118, 210);
$secondary: rgb(156, 39, 176);
$success-color: rgb(46, 125, 50);
$error-color: rgb(211, 47, 47);
$info-color: rgb(2, 136, 209);
$warning-color: rgb(237, 108, 2);

$primary-hover: rgb(21, 101, 192);
$secondary-hover: rgb(123, 31, 162);
$success-hover: rgb(27, 94, 32);
$error-hover: rgb(198, 40, 40);
$info-hover: rgb(1, 87, 155);
$warning-hover: rgb(230, 81, 0);

$grey-alpha-2: rgba(0, 0, 0, 0.23);
$grey-alpha-3: rgba(0, 0, 0, 0.38);
$grey-alpha-5: rgba(0, 0, 0, 0.54);
$grey-alpha-6: rgba(0, 0, 0, 0.6);
$grey-alpha-8: rgba(0, 0, 0, 0.87);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$text-bg: #f0f2f5;
