@use 'styles/variables' as v;

$appBar-height: 64px;

.peppers-appBarWrapper {
  // width: 100vw;
  height: $appBar-height;
}
.peppers-appBar {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $appBar-height;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;

  background-color: #fafbfc;
}

.peppers-appBar-divider {
  flex-grow: 1;
}

.peppers-toolbar {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.peppers-appBar-searchWrapper {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 540px;
  padding-left: 8px;
  padding-right: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;

  background-color: v.$text-bg;
  transition: border 200ms linear;
  & > span {
    padding-left: 4px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.peppers-appBar-search {
  padding: 8px 8px;
  outline: none;
  border: none;
  background-color: inherit;
  width: 100%;
}
