@use 'styles/variables' as v;

.peppers-stack {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* START - COMMON BUTTON VARIABLES */
/* END - COMMON BUTTON VARIABLES */

/* SIZE */
